/* 
 * 	Core Owl Carousel CSS File
 *	v1.19
 */

/* clearfix */


/*#owl-demo .item{
	padding: 30px 0px;
	margin: 5px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	position: relative;
}*/

#owl-demo .item img{ -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	float: left;
	-ms-touch-action: pan-y;
}

.owl-carousel h5{
	font-size:16px;
	margin-top: 2%;
	display:none;
	width: 100%;
	position:absolute;
	text-align:center;
}


.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controlls .owl-page,
.owl-controlls .owl-buttons div{
	cursor: pointer;
}
.owl-controlls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}



.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    width:10px;
    height:18px;
}

.owl-carousel .owl-nav .owl-prev{
    background:url(../images/prev.png) no-repeat;
}

.owl-carousel .owl-nav .owl-next{
    background:url(../images/next.png) no-repeat;
}
